<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AddFunc</title>
</head>
<body>
	<h1>Formulário Funcionario</h1>
	<form action="funcionario/addFuncionario" method="post">
		<fieldset>
			<label>Username: </label><br>
			<input type="text" id="nome" name="nome"><br> 
			<label>Email: </label><br>
			<input type="text" id="email" name="email"><br>
			<label>CPF: </label><br>
			<input type="text" id="cpf" name="cpf"><br>
			<label>Password:</label><br>
			<input type="password" id="password" name="password"><br><br>
			<button type="submit" value="enviar">Enviar</button>
		</fieldset>
	</form>
</body>
</html>