<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulário de Parte</title>
</head>
<body>
    <h1>Formulário de Parte</h1>
    <form th:action="@{/parte/saveParte}" method="post" th:object="${parte}">
        <input type="hidden" th:field="*{id}"/>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required><br>
        <label>Preço:</label>
        <input type="number" step="0.01" th:field="*{preco}" required><br>
        <label>Tipo:</label>
        <select th:field="*{tipoParte}">
            <option value="Cabo de rede">Cabo de rede</option>
            <option value="Placa de video">Placa de vídeo</option>
        </select><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
